@using Microsoft.AspNet.Identity;
@using MyHome.Tools;
@{
    var user = Cacher.UserInfoes.SingleOrDefault(u => u.UserName == Context.User.Identity.Name);
}
@if (Request.IsAuthenticated && user != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("你好，" + User.Identity.GetUserName() + "!", "Details", "UserInfoes", new { id = user.ID }, null)
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">注销</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("注册", "Create", "UserInfoes")</li>
        <li>@Html.ActionLink("登录", "Login", "UserInfoes", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
