/*通用样式start */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.panel .panel-heading{
    cursor:pointer;
}
.common_panel{
    min-width:800px;
    margin:10px auto;
    padding:10px 0;
    background-color:#eeeeee;
    border-radius:10px;
}
.href_float{
    float:left;
    min-width:40%;
}
/*通用样式end */

/*注册页面start */
.regist_body{
   width:70%;
   margin:0 auto;
}
.regist_body .col-md-2{
}

.regist_detail{
    background-color:#e4dfdf;
    display:none;
}
/*注册页面end */

/*首页Start*/
.home_top{

}
/*首页End*/