@model IEnumerable<MyHome.Models.UserInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(Model, ajaxUpdateContainerId: "");
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@grid.GetHtml(tableStyle: "table",
columns: grid.Columns(
grid.Column("ID", "序号"),
grid.Column("UserName", "用户名",format:(item)=>new HtmlString("<a href='Details/"
  + item.ID + "' target='blank'>" + item.UserName + "</a>")),
grid.Column("Role", "角色"),
grid.Column("Sex", "性别"),
grid.Column(header: "操作", format: (item) =>
  new HtmlString(Html.ActionLink("编辑", "Edit", new { id = item.ID }) + "&nbsp;&nbsp;" +
  Html.ActionLink("删除", "Delete", new { id = item.ID }, new { onclick = "return confirm(确定删除吗？);" })))
),
mode: WebGridPagerModes.All, firstText: "第一页", previousText: "上一页", nextText: "下一页", lastText: "最后一页", numericLinksCount: 10
)

